<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/underscore@1.12.0/underscore-min.js"></script>
  <link rel="stylesheet" type="text/css" href="main.css">
  <title>UBC Mathematics Undergraduate Program</title>
</head>

<body>

  <div id="dashboard">

    <div id="program-track-nav">
      <div id="program-nav">
        <h2>Programs</h2>

      </div>
      <div id="track-nav">
        <h2>Tracks</h2>

      </div>
    </div>

    <div id="course-info">
      <div>
        <script id="course-info-string" type="text/template">
          <h2>MATH <%= number %></h2>
          <h3><%= title %></h3>
          <p><%= description %></p>
          <% if (prereqs.length > 0) { %>
          <h4>Prerequisites</h4>
          <ul><% _.each(prereqs, function(prereq) { %>
            <li><%= prereq.description %></li>
            <% }); %>
          </ul>
          <% }; %>
          <% if (coreqs.length > 0) { %>
          <h4>Corequisites</h4>
          <ul><% _.each(coreqs, function(coreq) { %>
            <li><%= coreq.description %></li>
            <% }); %>
          </ul>
          <% }; %>
          <% if (notes.length > 0) { %>
          <h4>Notes</h4>
          <p><%= notes %></p>
          <% }; %>
        </script>
      </div>
    </div>

    <div id="course-map"><svg></svg></div>

    <div id="program-track-info"></div>

  </div>

  <script src="main.js"></script>

</body>
</html>
