:root {
  --light: rgba(0,0,0,0.1);
  --main: rgba(0,0,0,0.7);
}

body,html {
  margin: 0px;
}

#dashboard {
  display: grid;
  grid-template-columns: 33% 33% 33.8%;
  grid-template-rows: 4.6% 32% 63%;
  grid-column-gap: 0.1%;
  grid-row-gap: 0.2%;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  color: var(--main);
  width: max(100vw,1200px);
  height: max(100vh,750px);
  background-color: var(--light);
}

#dashboard > div {
  background-color: white;
  overflow: scroll;
}

header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;
  align-self: center;
  background-color: rgba(0,0,0,0);
}

header h2 {
  margin-left: 13px;
}

#program-track-nav {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 45% 55%;
}

#program-nav, #track-nav {
  padding: 10px;
}

#program-nav div, #track-nav div {
  padding: 5px;
  border: 1px solid white;
  border-radius: 2px;
}

#program-nav div:hover, #track-nav div:hover {
  cursor: default;
  background-color: var(--light);
}

#program-nav div.highlight, #track-nav div.highlight {
  border-color: var(--main);
}

#course-info {
  grid-column: 1;
  grid-row: 3;
  padding: 0px 15px;
}

#course-info ul {
  padding-left: 2em;
}

#course-map {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 3;
  text-align: center;
}

#program-info {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 2;
  padding: 0px 15px;
  display: grid;
}

#program-info1 {
  grid-column: 1;
  grid-row: 1;
  padding-right: 10px;
}

#program-info2 {
  grid-column: 2;
  grid-row: 1;
  padding-left: 10px;
}
