body,html {
  margin: 0px;
}

#dashboard {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: 33% 33% 34%;
  grid-gap: 2px;
  font-family: sans-serif;
  font-size: 10pt;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
}

#dashboard > div {
  background-color: white;
}

#program-track-nav {
  grid-column: 1;
  grid-row: 1;
  padding: 0px 20px;
  display: grid;
  grid-template-columns: 40% 60%;
}

#program-nav h2, #track-nav h2 {
  margin-bottom: 5px;
  margin-left: 3px;
}

#program-nav div, #track-nav div {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 2px;
}

#program-nav div:hover, #track-nav div:hover {
  cursor: default;
  background-color: rgba(0,0,0,0.1);
}

#program-nav div.highlight, #track-nav div.highlight {
  border-color: black;
}

#course-info {
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 4;
  padding: 0px 20px;
}

#course-info ul {
  padding-left: 2em;
}

#course-map {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
}

#program-info {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 3;
  padding: 0px 20px;
}
