#dashboard {
    border: 1px solid black;
    height: 600px;
    display: inline-block;
    width: 1400px;
    font-family: sans-serif;
    font-size: 10pt;
}

#infobox {
    display: inline-block;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

#infobox div {
    margin: 20px 0px 0px 20px;
}

#coursemap {
    position: absolute;
    display: inline-block;
    height: 600px;
}

.layout_buttons {
    width: 55px;
    height: 20px;
    border: 2px solid #000;
    background: #fff;
    color: #000;
    text-align: center;
    line-height: 20px;
}

.layout_buttons_active {
    background: #000;
    color: #fff;
}

.course {
    r: 9px;
    fill: #fff;
    stroke: #000;
}

.course_hover {
    fill: #000;
}

.course_program {
    fill: #000;
}

.course_click {
    fill: #000;
}

.text_hover {
    fill: #fff;
}

.text_click {
    fill: #fff;
}

.text_program {
    fill: #fff;
}

.line_click {
    opacity: 1;
}

.line_program {
    opacity: 1;
}

.reset_button {
    height: 15px;
    width: 35px;
    rx: 2px;
    ry: 2px;
    stroke: rgba(0, 0, 0, 0.4);
    fill: #fff;
}

.reset_stroke {
    height: 11px;
    width: 31px;
    rx: 1px;
    ry: 1px;
    stroke: #000;
    stroke-width: 2px;
    fill-opacity: 0.1;
}