#dashboard {
    border: 1px solid black;
    height: 600px;
    display: inline-block;
    width: 1400px;
    font-family: sans-serif;
    font-size: 10pt;
}

#infobox {
    display: inline-block;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

#infobox div {
    margin: 20px 0px 0px 20px;
}

#coursemap {
    position: absolute;
    display: inline-block;
    height: 600px;
}

.layout_buttons {
    width: 55px;
    height: 20px;
    border: 2px solid #000;
    background: #fff;
    color: #000;
    text-align: center;
    line-height: 20px;
}

.layout_buttons_active {
    background: #000;
    color: #fff;
}

.course {
    r: 9px;
    fill: #fff;
    stroke: #000;
}

.course_hover {
    fill: #000;
}

.course_program {
    fill: #000;
}

.course_click {
    fill: #000;
}

.exc_circle {
    r: 11px;
    fill: rgb(146, 150, 150);
    opacity: 0.8;
    stroke: #000;
    stroke-width: 1px;
}

.text_hover {
    fill: #fff;
}

.text_click {
    fill: #fff;
}

.text_program {
    fill: #fff;
}

.line_click {
    opacity: 1;
}

.line_program {
    opacity: 1;
}

.reset_button {
    height: 15px;
    width: 35px;
    rx: 2px;
    ry: 2px;
    stroke: rgba(0, 0, 0, 0.4);
    fill: #fff;
}

.reset_stroke {
    height: 11px;
    width: 31px;
    rx: 1px;
    ry: 1px;
    stroke: #000;
    stroke-width: 2px;
    fill-opacity: 0.1;
}

.drop_menu {
    width: 200px;
    height: auto;
    overflow: visible;
}

.drop_button {
    padding: 1px 50px 1px 10px;
    font: 14px sans-serif;
    border: 1px solid black;
    ;
    font-weight: bold;
    background: #fff;
    border-radius: 3px;
    opacity: 0.95;
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.track_button {
    height: 30px;
    width: 200px;
    rx: 2px;
    ry: 2px;
    stroke: rgba(0, 0, 0, 0.2);
    fill: rgba(0, 0, 0, 0.2);
    fill-opacity: 0.6;
}

.track_button-tracking {
    height: 30px;
    width: 200px;
    rx: 2px;
    ry: 2px;
    stroke: rgba(0, 0, 0, 0.2);
    fill: rgba(0, 0, 0, 0.4);
    fill-opacity: 1.0;
}

.star {
    transform: translate(225px, 35px) scale(0.7, 0.7);
    fill: #000;
}